version: '3'
services:
  app:
    restart: always
    environment:
      - DB_USERNAME=admin
      - DB_PASSWORD=admin
      - DB_SERVER=mongo
    image: express-app:8-alpine
    ports:
      - '30000:3000'
    depends_on:
      - mongo
  mongo:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin    
    ports:
      - '27017:27017'











## Manual way

# docker network create mongo-express-app

# docker run -d --network express-app \
# -e MONGO_INITDB_ROOT_USERNAME=admin \
# -e MONGO_INITDB_ROOT_PASSWORD=admin \
# -p 27017:27017 \
# --name mongo mongo


# docker run -d --network express-app \
# -e DB_USERNAME=admin \
# -e DB_PASSWORD=admin \
# -e DB_SERVER=mongo \
# -p 30000:3000  \
# --name express-app express-swagger-app:1.0